<nav> <ul> 
    <li><a routerLink="/home">Home</a></li> 
    <li><a routerLink="/login">Login</a></li> 
    <li><a routerLink="/register">Register</a></li> 
</ul> </nav> 
    


<!--<div class="cards">
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Imagen 1">
      <p>Texto para la primera tarjeta.</p>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Imagen 2">
      <p>Texto para la segunda tarjeta.</p>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Imagen 3">
      <p>Texto para la tercera tarjeta.</p>
    </div>
  </div>-->
  
  <div class="desktop-1">
    <div class="desktop-1__rectangle-1"></div>
    <div class="desktop-1__rectangle-19"></div>
    <img
      class="desktop-1__close-up-heat-pump-outside-home-1-1"
      src="close-up-heat-pump-outside-home-1-10.png"
    />
    <div class="desktop-1__servicios-y-productos">
      Servicios
      <br />
      y
      <br />
      Productos
    </div>
    <img class="desktop-1__rectangle-9" src="rectangle-90.svg" />
    <img
      class="desktop-1__close-up-heat-pump-outside-home-3"
      src="close-up-heat-pump-outside-home-30.png"
    />
    <div
      class="desktop-1__en-frigo-servicios-brindamos-refrigeraci-n-industrial-a-medida-con-calidad-y-eficiencia"
    >
      En Frigo Servicios, brindamos refrigeración industrial a medida, con calidad
      y eficiencia.
    </div>
    <img class="desktop-1__rectangle-20" src="rectangle-200.svg" />
    <img class="desktop-1__image-9" src="image-90.png" />
    <div
      class="desktop-1__equipo-experto-y-tecnolog-a-avanzada-para-m-xima-calidad-en-refrigeraci-n"
    >
      Equipo experto y tecnología avanzada para máxima calidad en refrigeración.
    </div>
    <div class="desktop-1__rectangle-3"></div>
    <div class="desktop-1__ubicanos">Ubicanos</div>
    <div class="desktop-1__contactanos">Contactanos</div>
    <div class="desktop-1__correo">Correo</div>
    <div class="desktop-1___34-912-345-678">+34 912 345 678</div>
    <div class="desktop-1__calle-mayor-123-madrid-espa-a">
      Calle Mayor 123, Madrid, España
    </div>
    <div class="desktop-1__frigoservicios-gamil-com">
      Frigoservicios@gamil.com
    </div>
    <div class="desktop-1___2024-frigo-servicios-todos-los-derechos-reservados">
      © 2024 Frigo Servicios. Todos los derechos reservados.
    </div>
    <img class="desktop-1__image-11" src="image-110.png" />
    <div class="desktop-1__rectangle-21"></div>
    <img class="desktop-1__image-5" src="image-50.png" />
    <img class="desktop-1__image-112" src="image-111.png" />
    <div class="desktop-1__rectangle-15"></div>
    <div class="desktop-1__rectangle-17"></div>
    <div class="desktop-1__rectangle-16"></div>
    <div class="desktop-1__rectangle-18"></div>
  </div>
  
  