/* Figma Styles of your File */
:root {
    /* Colors */
    --applecom-athens-gray: #f5f5f7;
    --applecom-azure-radiance: #0077ed;
    --applecom-black: #000000;
    --applecom-black-16: rgba(0, 0, 0, 0.16);
    --applecom-black-40: rgba(0, 0, 0, 0.4);
    --applecom-black-42: rgba(0, 0, 0, 0.42);
    --applecom-black-48: rgba(0, 0, 0, 0.48);
    --applecom-black-56: rgba(0, 0, 0, 0.56);
    --applecom-black-72: rgba(0, 0, 0, 0.72);
    --applecom-black-80: rgba(0, 0, 0, 0.8);
    --applecom-black-88: rgba(0, 0, 0, 0.88);
    --applecom-dodger-blue: #2997ff;
    --applecom-french-gray: #c8c8ce;
    --applecom-link-water: #c7e6f1;
    --applecom-mercury: #e6e6e6;
    --applecom-mischka: #d2d2d7;
    --applecom-science-blue: #0071e3;
    --applecom-shark: #1d1d1f;
    --applecom-science-blue: #0066cc;
    --applecom-silver: #cdc7c7;
    --applecom-white: #ffffff;
    --applecom-white-80: rgba(255, 255, 255, 0.8);
  
    /* Fonts */
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 11.25px;
    --applecom-amiko-regular-line-height: 16px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 11.4375px;
    --applecom-amiko-regular-line-height: 16px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 11.625px;
    --applecom-amiko-regular-line-height: 16px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 12.90625px;
    --applecom-amiko-regular-line-height: 20px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 13.015625px;
    --applecom-amiko-regular-line-height: 20px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 13.125px;
    --applecom-amiko-regular-line-height: 20px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 13.5625px;
    --applecom-amiko-regular-line-height: 18px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 15.8046875px;
    --applecom-amiko-regular-line-height: 20px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-font-size: 16.203125px;
    --applecom-amiko-regular-line-height: 20px;
    --applecom-amiko-regular-font-weight: 400;
    --applecom-amiko-regular-font-style: normal;
    --applecom-amiko-regular-underline-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-underline-font-size: 11.0625px;
    --applecom-amiko-regular-underline-line-height: 16px;
    --applecom-amiko-regular-underline-font-weight: 400;
    --applecom-amiko-regular-underline-font-style: normal;
    --applecom-amiko-regular-underline-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-underline-font-size: 11.25px;
    --applecom-amiko-regular-underline-line-height: 16px;
    --applecom-amiko-regular-underline-font-weight: 400;
    --applecom-amiko-regular-underline-font-style: normal;
    --applecom-amiko-regular-underline-font-family: Amiko-Regular, sans-serif;
    --applecom-amiko-regular-underline-font-size: 11.4375px;
    --applecom-amiko-regular-underline-line-height: 16px;
    --applecom-amiko-regular-underline-font-weight: 400;
    --applecom-amiko-regular-underline-font-style: normal;
    --applecom-amiko-semibold-font-family: Amiko-SemiBold, sans-serif;
    --applecom-amiko-semibold-font-size: 13.5625px;
    --applecom-amiko-semibold-line-height: 18px;
    --applecom-amiko-semibold-font-weight: 600;
    --applecom-amiko-semibold-font-style: normal;
    --applecom-amiko-semibold-font-family: Amiko-SemiBold, sans-serif;
    --applecom-amiko-semibold-font-size: 13.671875px;
    --applecom-amiko-semibold-line-height: 18px;
    --applecom-amiko-semibold-font-weight: 600;
    --applecom-amiko-semibold-font-style: normal;
    --applecom-amiko-semibold-font-family: Amiko-SemiBold, sans-serif;
    --applecom-amiko-semibold-font-size: 13.78125px;
    --applecom-amiko-semibold-line-height: 18px;
    --applecom-amiko-semibold-font-weight: 600;
    --applecom-amiko-semibold-font-style: normal;
    --applecom-amiko-semibold-font-family: Amiko-SemiBold, sans-serif;
    --applecom-amiko-semibold-font-size: 14px;
    --applecom-amiko-semibold-line-height: 18px;
    --applecom-amiko-semibold-font-weight: 600;
    --applecom-amiko-semibold-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 24.390625px;
    --applecom-inter-regular-line-height: 32px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 24.28125px;
    --applecom-inter-regular-line-height: 32px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 18.5390625px;
    --applecom-inter-regular-line-height: 25px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 18.8671875px;
    --applecom-inter-regular-line-height: 25px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 18.375px;
    --applecom-inter-regular-line-height: 25px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 18.046875px;
    --applecom-inter-regular-line-height: 25px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 17.8828125px;
    --applecom-inter-regular-line-height: 25px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-bold-font-family: Inter-Bold, sans-serif;
    --applecom-inter-bold-font-size: 17.1875px;
    --applecom-inter-bold-line-height: 22px;
    --applecom-inter-bold-font-weight: 700;
    --applecom-inter-bold-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 16.875px;
    --applecom-inter-regular-line-height: 22px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-regular-font-family: Inter-Regular, sans-serif;
    --applecom-inter-regular-font-size: 17.1875px;
    --applecom-inter-regular-line-height: 22px;
    --applecom-inter-regular-font-weight: 400;
    --applecom-inter-regular-font-style: normal;
    --applecom-inter-bold-font-family: Inter-Bold, sans-serif;
    --applecom-inter-bold-font-size: 16.875px;
    --applecom-inter-bold-line-height: 22px;
    --applecom-inter-bold-font-weight: 700;
    --applecom-inter-bold-font-style: normal;
    --applecom-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-2-font-size: 50.203125px;
    --applecom-semantic-heading-2-line-height: 60px;
    --applecom-semantic-heading-2-font-weight: 600;
    --applecom-semantic-heading-2-font-style: normal;
    --applecom-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-2-font-size: 50.3125px;
    --applecom-semantic-heading-2-line-height: 60px;
    --applecom-semantic-heading-2-font-weight: 600;
    --applecom-semantic-heading-2-font-style: normal;
    --applecom-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-2-font-size: 51.40625px;
    --applecom-semantic-heading-2-line-height: 60px;
    --applecom-semantic-heading-2-font-weight: 600;
    --applecom-semantic-heading-2-font-style: normal;
    --applecom-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-2-font-size: 51.84375px;
    --applecom-semantic-heading-2-line-height: 60px;
    --applecom-semantic-heading-2-font-weight: 600;
    --applecom-semantic-heading-2-font-style: normal;
    --applecom-semantic-heading-3-font-family: Amiko-SemiBold, sans-serif;
    --applecom-semantic-heading-3-font-size: 11.625px;
    --applecom-semantic-heading-3-line-height: 16px;
    --applecom-semantic-heading-3-font-weight: 600;
    --applecom-semantic-heading-3-font-style: normal;
    --applecom-semantic-heading-3-font-family: Amiko-SemiBold, sans-serif;
    --applecom-semantic-heading-3-font-size: 11.8125px;
    --applecom-semantic-heading-3-line-height: 16px;
    --applecom-semantic-heading-3-font-weight: 600;
    --applecom-semantic-heading-3-font-style: normal;
    --applecom-semantic-heading-3-font-family: Amiko-SemiBold, sans-serif;
    --applecom-semantic-heading-3-font-size: 12px;
    --applecom-semantic-heading-3-line-height: 16px;
    --applecom-semantic-heading-3-font-weight: 600;
    --applecom-semantic-heading-3-font-style: normal;
    --applecom-semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-3-font-size: 36.25px;
    --applecom-semantic-heading-3-line-height: 44px;
    --applecom-semantic-heading-3-font-weight: 600;
    --applecom-semantic-heading-3-font-style: normal;
    --applecom-semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
    --applecom-semantic-heading-3-font-size: 36.40625px;
    --applecom-semantic-heading-3-line-height: 44px;
    --applecom-semantic-heading-3-font-weight: 600;
    --applecom-semantic-heading-3-font-style: normal;
    --applecom-semantic-item-font-family: Amiko-Regular, sans-serif;
    --applecom-semantic-item-font-size: 11.0625px;
    --applecom-semantic-item-line-height: 16px;
    --applecom-semantic-item-font-weight: 400;
    --applecom-semantic-item-font-style: normal;
    --applecom-semantic-item-font-family: Amiko-Regular, sans-serif;
    --applecom-semantic-item-font-size: 11.25px;
    --applecom-semantic-item-line-height: 16px;
    --applecom-semantic-item-font-weight: 400;
    --applecom-semantic-item-font-style: normal;
    --applecom-semantic-item-font-family: Amiko-Regular, sans-serif;
    --applecom-semantic-item-font-size: 11.4375px;
    --applecom-semantic-item-line-height: 16px;
    --applecom-semantic-item-font-weight: 400;
    --applecom-semantic-item-font-style: normal;
    --applecom-semantic-item-font-family: Amiko-Regular, sans-serif;
    --applecom-semantic-item-font-size: 12px;
    --applecom-semantic-item-line-height: 16px;
    --applecom-semantic-item-font-weight: 400;
    --applecom-semantic-item-font-style: normal;
  
    /* Effects */
  }
  